<h1>Utilização do sitema</h1>
<h4><br><p>1 - Preencher na aba Configurações com informações da
          <%= link_to 'Aliexpress', aliexpresses_path %> e
          <%= link_to 'Wordpress', wordpresses_path %></p>
  <br><p>2- Na aba <%= link_to 'Produtos', products_path %>,
          importar os pedidos do Wordpress e preencher o link Aliexpress</p>
  <br><p>3 - Criar um <%= link_to 'Crawler', crawlers_path %>, escolher suas configurações e ativá-lo</p>
  <br><p> Mais instruções ao abrir as abas</p>
</h4>
